<div class="container-fluid">   
    <div id="listtable">
        <div class="table-responsive">
          <table id="listviewtable" class="table small">
            <thead>
                <tr>
                    <th></th>
                    <th data-dynatable-column="satname">Name</th>
                    <th>Type</th>
                    <th>Viz</th>
                    <th>Az</th>
                    <th>Ele</th>
                    <th>Lat</th>
                    <th>Lon</th>
                    <th>Alt</th>
                    <th>Vel.</th>
                    <th>Next Event</th>
                </tr>
            </thead>
          </table>
        </div>
    </div>
</div>