<div class="table-responsive">
  <table class="table small">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Viz</th>
            <th>Az</th>
            <th>Ele</th>
            <th>Lat</th>
            <th>Lon</th>
            <th>Alt</th>
            <th>Vel.</th>
            <th>Next Event</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>AO-10</td>
            <td>SDP</td>
            <td>Eclipsed</td>
            <td>123</td>
            <td>45</td>
            <td>52.234</td>
            <td>0.000</td>
            <td>100</td>
            <td>6</td>
            <td>AOS: 23:54</td>
        </tr>
    </tbody>
  </table>
</div>