 html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: white;  
}

    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
      color: white;
    }

.fl {
    float:left;    
}

.cb {
    clear:both;
}

body {
  background: #001224;
}

body .container, body .container table {
  color: white !important;    
}


#templatecontainer {
  max-width: 100%;
  padding: 10px;  
}


.viewloader img {
    margin-right: 10px;
}

.alertouter {
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 0 0 0 -100px;
}

    .alertouter .alertsad {
        font-size: 32px;
        margin: -7px 10px 0 0;
        display: block;
        float: left;        
    }

    .alertouter .alertcopy {    
        outline: none;
        display: block;
        text-align: left;
        line-height: 17px;
    }

 #satselectorlist, #singlesatelliteselector {
     padding-left: 5px;
 }
 
.switch {
    color: white;
}

.tabs {
    border-bottom: 1px solid #EFEFEF;
}

    .tabs dd > a, .tabs .tab-title > a {
          padding: 0.5rem 0.5rem !important;
    }
    
.satlabel {
    font-size: 1rem;
    margin-left: 5px;
}

.left-off-canvas-menu {
    width: 19rem;
}

button.expand, .button.expand {
  width: 85%;
}

.label {
    background: none;
}