<!--https://github.com/asyraf9/bootstrap-sidebar-->
<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "user-scalable=no, width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>MiaSat</title>
        
        <link rel="stylesheet" href="/assets/js/libs/foundation/css/foundation.css" />
          
        <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/assets/css/style.css">

                
    </head>
    <body>
    
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title"><img src="/assets/images/logo/mia-head-white.png"><strong class="show-for-medium-up left"> MIA Sat </strong><span class="right"><small>Login | Register</small></span></h1> 
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
        {% include 'menu.html' %}
    </aside>

    <aside class="right-off-canvas-menu">
        {% include 'sats.html' %}
    </aside>

    <section id="templatecontainer" class="main-section" style="height:100vh">
        
      
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div> 
    
        
  
        <div class="container" id="templatecontainer"></div>
        
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/assets/js/libs/foundation/js/foundation.min.js"></script>
        
        <script src="/assets/js/libs/konva/konva.js"></script>
        <script src="/assets/js/modernizr.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        <script src="/assets/js/renderer.js"></script>
        <script src="/assets/js/utils.js"></script>
        <script src="/assets/js/date.js"></script>

        
    </body>
</html>
