<!DOCTYPE html>
<html>
    <head>
        <title>Mia</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/assets/js/modernizr.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
    </head>
    <body>
        {% include 'menu.html' %} 

        <div class="container-fluid">        
            {% include template %}    
        </div>        
    </body>
</html>
