 <style>
 html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
  .navmenu-header {
    display: none !important;      
  }  
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
  .navmenu-header {
    display: block !important;      
  }  
}

.navmenu-nav.dropdown-menu { position:relative; }

.navmenu .container .row {
    padding-top: 5px;
}
 </style>
 
 
 
 
     <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <div class="container navmenu-header">
            <div class="row">
                <div class="col-md-4"><img alt="home" src="/assets/images/logo/mia-head.png" /></div>
                <div class="col-md-4">Mia Sat</div>
                <div class="col-md-4"><img alt="settings" src="/assets/images/settings.png" /></div>
            </div>    
        </div>
      <ul class="nav navmenu-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Views <b class="caret"></b></a>
          <ul class="dropdown-menu navmenu-nav">
            <li><a href="/threedview">3D</a></li>
            <li><a href="/listview">List</a></li>
            <li><a href="/polarview">Polar</a></li>
            <li><a href="#">Passes</a></li>
            <li><a href="#">Sky</a></li>
            <li><a href="/timelineview">Timeline</a></li>
            <li><a href="#">DX View</a></li>
          </ul>
        </li>
      </ul>    
    
    <img  alt="settings" src="/assets/images/earth53.png" />
    <img  alt="settings" src="/assets/images/list7.png" />
    <img  alt="settings" src="/assets/images/settings.png" />
    <img  alt="settings" src="/assets/images/settings.png" />
    <img  alt="settings" src="/assets/images/settings.png" />
    <img  alt="settings" src="/assets/images/settings.png" />
    <img  alt="settings" src="/assets/images/settings.png" />
    
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Satellite</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Info</a></li>
                <li role="presentation"><a href="#viewoptions" aria-controls="viewoptions" role="tab" data-toggle="tab">View Options</a></li>
            </ul>
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home"><div id="satelliteselector"></div></div>
                <div role="tabpanel" class="tab-pane" id="profile">
                
                
                    <table width="100%" class="table">
                        <tr>
                            <th colspan="2">Element Values</th>
                        </tr>
                        <tr>
                            <td width="50%">Cat Num</td>
                            <td id="noradid" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td id="name" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Owner</td>
                            <td id="owner" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Period</td>
                            <td id="period" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Inclination</td>
                            <td id="inclination" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Apogee</td>
                            <td id="apogee" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Perigee</td>
                            <td id="perigee" class="sat-info"></td>
                        </tr>
                        <tr>
                            <th colspan="2">Calculated Values</th>
                        </tr>
                        <tr>
                            <td>Latitude</td>
                            <td id="latitude" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Longitude</td>
                            <td id="longitude" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Locator</td>
                            <td id="locator" class="sat-info"></td>
                        </tr>                    
                        <tr>
                            <td>Altitude</td>
                            <td id="altitude" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Orbit Number</td>
                            <td id="orbitnumber" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Visible</td>
                            <td id="visible" class="sat-info"></td>
                        </tr>
                        
                        <tr>
                            <td>Velocity</td>
                            <td id="velocity" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Footprint</td>
                            <td id="footprint" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Range</td>
                            <td id="range" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Range rate</td>
                            <td id="rangerate" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Doppler Shift (Hz)</td>
                            <td id="doppler" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Signal Loss (dB)</td>
                            <td id="loss" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Signal Delay (ms)</td>
                            <td id="delay" class="sat-info"></td>
                        </tr>                                                               
                        <tr>
                            <td>Elevation</td>
                            <td id="elevation" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Azimuth</td>
                            <td id="azimuth" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Orbital Phase</td>
                            <td id="orbitalphase" class="sat-info"></td>
                        </tr>
                        <tr>
                            <td>Geostationary</td>
                            <td id="geostationary" class="sat-info"></td>
                        </tr>                    
                    </table>                
                
                
                </div>
                
                <div role="tabpanel" class="tab-pane" id="viewoptions"></div>
 
            </div>
  
            
        </div>
    </div>               

    
    
    <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">    
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><img alt="home" src="/assets/images/logo/mia-head.png" /></a>   
      <a class="navbar-brand pull-right" href="#"><img alt="settings" src="/assets/images/settings.png" /></a>    
    </div>
