<table width="100%" class="table1">
    <tr>
        <th colspan="2">Element Values</th>
    </tr>
    <tr>
        <th width="50%">Cat Num</th>
        <td data-path="catnum"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td data-path="name"></td>
    </tr>
    <tr>
        <td>Owner</td>
        <td id="owner" class="sat-info"></td>
    </tr>
    <tr>
        <td>Period</td>
        <td ></td>
    </tr>
    <tr>
        <td>Inclination</td>
        <td ></td>
    </tr>
    <tr>
        <td>Apogee</td>
        <td ></td>
    </tr>
    <tr>
        <td>Perigee</td>
        <td ></td>
    </tr>
    <tr>
        <th colspan="2">Calculated Values</th>
    </tr>
    <tr>
        <td>Latitude</td>
        <td data-path="latitude" data-type="pos"></td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td data-path="longitude" data-type="pos"></td>
    </tr>
    <tr>
        <td>Locator</td>
        <td data-path="locator"></td>
    </tr>                    
    <tr>
        <td>Altitude</td>
        <td data-path="altitude" data-dp="2"></td>
    </tr>
    <tr>
        <td>Orbit Number</td>
        <td data-path="orbitnumber"></td>
    </tr>
    <tr>
        <td>Visible</td>
        <td data-path="visibility"></td>
    </tr>
    
    <tr>
        <td>Velocity</td>
        <td data-path="velocity" data-dp="2"></td>
    </tr>
    <tr>
        <td>Footprint</td>
        <td data-path="footprint" data-dp="2"></td>
    </tr>
    <tr>
        <td>Range</td>
        <td data-path="range" data-dp="2"></td>
    </tr>
    <tr>
        <td>Range rate</td>
        <td data-path="rangerate" data-dp="2"></td>
    </tr>
    <tr>
        <td>Doppler Shift (Hz)</td>
        <td data-path="dopplershift" data-dp="2"></td>
    </tr>
    <tr>
        <td>Signal Loss (dB)</td>
        <td data-path="signalloss" data-dp="2"></td>
    </tr>
    <tr>
        <td>Signal Delay (ms)</td>
        <td data-path="signaldelay" data-dp="2"></td>
    </tr>                                                               
    <tr>
        <td>Elevation</td>
        <td data-path="elevation" data-dp="2"></td>
    </tr>
    <tr>
        <td>Azimuth</td>
        <td data-path="azimuth" data-dp="2"></td>
    </tr>
    <tr>
        <td>Orbital Phase</td>
        <td data-path="orbitalphase"></td>
    </tr>
    <tr>
        <td>Geostationary</td>
        <td data-path="geostationarytext"></td>
    </tr>                    
</table>  